.dataText{
    color: #FFF !important;
    font-size: 2em !important;
    font-family: 'Roboto', sans-serif;
}
.titleText{
    color: #FFF !important;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

@media screen and (min-width: 250px) {
   .dataText{
        margin-top: 20%;
   }
}

@media screen and (min-width: 600px) {
    .dataText{
         margin-top: 5%;
    }
 }